<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Електронен домоуправител</title>
    <meta charset="UTF-8">
    <meta name="description" content="Електронен домоуправител">
    <meta name="keywords" content="електронен домоуправител, професионална, дейност, поддръжка, етажна, собственост фирми, служители, многофамилни, сгради, живущи">
    <meta name="author" content="Daniel Kozhuharov">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles.css">
    <script src="/scripts.js"></script>
</head>
<body>
    <div class="content">
        <div th:insert="fragments/menu"></div>
        <div class="container">
            <div class="box-1">
                <div class="box-headline"><h2>За сайта</h2></div>
                <h3>Електронен домоуправител е проект, базиран на Spring Framework, предназначен за Пловдивски университет от Даниел Кожухаров, 2001262016.</h3>
            </div>
            <div class="box-2 box-2-search">
                <div class="box-headline"><h2>Търсене</h2></div>
                <div class="container-content">
                    <input type="text" id="searchfield" placeholder="Търсене на артикул" class="roundForm godown">
                    <button type="submit" id="searchbutton" class="roundForm blueButton godown">Search</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>