<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Електронен домоуправител</title>
    <meta charset="UTF-8">
    <meta name="description" content="Електронен домоуправител">
    <meta name="keywords" content="електронен домоуправител, професионална, дейност, поддръжка, етажна, собственост фирми, служители, многофамилни, сгради, живущи">
    <meta name="author" content="Daniel Kozhuharov">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="/scripts.js"></script>
</head>
<body>
<div class="content">
    <div th:insert="fragments/menu"></div>
    <div class="container">
        <div class="box-1">
            <div class="box-headline"><h2>Update company</h2></div>
            <form th:action="@{/companies/update}" th:object="${company}"
                  method="put">
                <p>
                    <label>ID</label>
                    <input type="text" th:field="*{id}" value="*{id}" readonly="readonly"/>
                </p>
                <p>
                    <label>Enter name</label>
                    <input type="text" th:field="*{name}" value="*{name}"/>
                </p>
                <button type="submit">Update company</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>